body,
input,
select,
label {
    font-size: 20px;
    font-family: sans-serif;
}

form {
    display: flex;
    justify-content: space-around;
}

label {
    display: block;
}

input,
.form-date {
    padding: 5px;
    border: 3px solid aliceblue;
    transition: border-color 200ms ease;
}

input:focus {
    border-color: #000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 3px solid #000;
}

button:hover,
button:active,
button:focus {
    color: #000;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

select {
    flex-grow: 1;
}

.inline {
    display: inline;
}

.form-row {
    position: relative;
    margin-bottom: 30px;
}

.form-date {
    display: flex;
    justify-content: space-between;
}

.registration-link {
    display: block;
    color: #000;
    text-align: center;
    border: 3px solid transparent;
}

.registration-link:hover,
.registration-link:active,
.registration-link:focus {
    text-decoration: none;
    border-color: #000;
}

